.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.2rem;
    color: #555;
}